<header>
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container">
      <a style="height:40px; text-align:left; align-content:flex-start; align-items:start; margin-left:0px;padding-left:0px" class="navbar-brand" [routerLink]="['/products']"><img height="30" style="height:40px; align-content:start; align-items:start; margin-left:0px;padding-left:0px" src="../../assets/logo.jpg" /></a>

      <div class="input-group" style="text-wrap:none; width:500px">
        <input type="text" class="form-control" placeholder="Search for..." style="width:100%"  name="SearchTextBox" id="SearchTextBox" [value]="searchInputText" (input)="searchInputText=$event.target.value">
        <span class="input-group-btn">
          <button class="btn btn-default" style="background-color:deepskyblue" [routerLink]="['/products']" (click)="Search()" >
            <i class="fa fa-search"></i>
          </button>
        </span>
      </div>
      <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse"
           [ngClass]="{ show: isExpanded }">
        <ul class="navbar-nav flex-grow" style="white-space:nowrap">

          <li class="nav-item" [routerLinkActive]="['link-active']" style="display:inline-block">
            <a style="width:auto" class="nav-link text-dark" [routerLink]="['/products']">Fetch Products</a>
          </li>

          <li class="nav-item" [routerLinkActive]="['link-active']" style="display:inline-block">
            <a style="width:auto" class="nav-link text-dark" [routerLink]="['/cars']">Fetch Cars</a>
          </li>

          <li class="nav-item" style="width:auto; display:inline-block">
            <button style="border:none; background:none"><i class="fa" style="font-size:24px;">&#xf07a;</i> <span style="width:auto; line-height:10px; border-radius:50%; border:1px none;font-size:6px; vertical-align:top; background-color:red; color:white; padding:1px">0</span></button>
          </li>

        </ul>
      </div>
    </div>
  </nav>
</header>
