<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings"
            type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Tecsys.Retail.RestApiClient.Properties.Settings"
                type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
                requirePermission="false"/>
        </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework"
            type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
            requirePermission="false"/>
    </configSections>
    <applicationSettings>
        <Tecsys.Retail.RestApiClient.Properties.Settings>
            <setting name="BaseUri" serializeAs="String">
                <value>https://localhost:44326/</value>
            </setting>
        </Tecsys.Retail.RestApiClient.Properties.Settings>
    </applicationSettings>
    <entityFramework>
        <providers>
            <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
        </providers>
    </entityFramework>
	<!--<connectionStrings>
		<add name="wingtiptoysEntities" connectionString="metadata=res://*/wingtiptoysModel.csdl|res://*/wingtiptoysModel.ssdl|res://*/wingtiptoysModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-23QTS89\SQLSERVER2016;initial catalog=wingtiptoys;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>-->
</configuration>