body {
}

th,td {
  width: 100%;
  white-space: nowrap;
}

table {
  table-layout: auto !important;
}

th, td {
  width: auto !important;
}

div {
  width: 100%
}

.td-center {
  position: relative;
  width: auto;
}

.td-image {
  width: auto;
  text-align: center;
  align-content: center;
  height: 50px;
  margin: 0;
  padding: 5px;
}

.span-top {
  vertical-align: top;
}

.car-image {
  height: 50px;
  margin: 0;
  padding: 0;
}

.car-figure {
  height: auto;
  padding: 0;
  margin: 0;
  vertical-align: top
}

.hidden {
  display: none
}

.th-center {
  text-align: center;
}

.circle-with-number {
  max-width: 12px;
  min-width: 12px;
  width: 12px;
  max-height: 12px;
  min-height: 12px;
  height: 12px;
  border-radius: 50%;
  border: none;
  display: inline-block;
  vertical-align: top;
  background-color: deepskyblue;
  color: white;
  padding: 1px;
  font-size: 10px;
}

.i-cart {
  font-size:30px;
}

.btn-cart {
  border:none;
  background:none;
}

.span-loading-spinner {
  color: lightblue;
}

.div-loading {
  min-width: 130px;
}
